 <div class="col s12 tag-div">
<!--  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank">
      <img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png">
    </a>
  </div> -->
  <div class="user-intro center-align">
    <h6>I am from India. I'm learning vast range of skill from Front End and Automation.
      </h6>

  </div>
  <div class="user-content">
    <p>
        This site helps you learn more about C# as language and this is not an introduction to programmming or Computer Science.
    </p>
    <p>
      C# is itself as any other programming language is very vast and provides various functionality that other languages doesn't
      lack and it does also lack in some of the other features that other languages compensate.

      So start reading and let me know your comments on the blog.
    </p>
  </div>
</div>